.checkoutProduct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkoutProduct__info {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-left: 10px;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__rating {
  display: flex;
  flex-direction: row;
}
.checkoutProduct__price {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #f0c14b;
  color: #111;
}
